h1 {
	font-size:50px;
	text-align:center;
}
/* div {align=center;} */
#left
{
	/* margin: 2px; */
	/* padding: 5px; */
	margin-right:400px;

}

input[type="submit"]{
	font-size:70px;
	background-repeat: no-repeat;
	color: transparent;
}
