<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="./static/flask_server.css">
<body>
    <h1>RPI Smart Car Live Streaming</h1>
        <h3><img src="{{ url_for('video_feed') }}" width="100%"></h3>


<div align="center">
<form action="" method ="post" target="myIframe">
<input id="forward" type="submit" name="button" value="forward" >
<br><br>
<input id="left" type="submit" name="button" value="left">
<input id="right" type="submit" name="button" value="right">
<br><br>
<input id="stop" type="submit" name="button" value="stop" >
</form>
</div>

<iframe style="display:none" id="myIframe" name="myIframe"> </iframe>
</body>
</html>
