<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="./static/flask_server.css">
<body>
    <h1>MJRoBot Lab Live Streaming</h1>
        <h3><img src="{{ url_for('video_feed') }}" width="90%"></h3>

<form action="" method ="post" target="myIframe">
<input type="submit" name="button" value="left">
</form>

<form action="" method ="post" target="myIframe">
<input type="submit" name="button" value="forward">
</form>

<form action="" method ="post" target="myIframe">
<input type="submit" name="button" value="right">
</form>

<iframe style="display:none" id="myIframe" name="myIframe"> </iframe>
</body>
</html>
